body {
  background-color: #f8f9fa;
}

.container {
  max-width: 800px;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h3 {
  margin-bottom: 0.5rem;
}

#detailPegawai p {
  margin: 0;
}
